*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

.header, ul {
    display: flex;
    justify-content: space-between;
}

.header {
    background-color: #dddddd;
}

li {
    list-style-type: none;
    padding: 10px;
}

h2 {
    padding: 10px;
}

button {
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(0, 194, 0);
}

#userInfo, #homeName {
    text-align: center;
}

.inputTable {
    position: absolute;
    left: 41%;
    top: 33%;
    border: 2px solid #dddddd;
    border-radius: 5px;
    padding: 10px;
}

.roomInfo {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.roomInfo div {
    border: 1px solid #dddddd;
    padding: 10px;
    border-radius: 5px;
}

.historyTable {
    margin: 10px auto;
    border: 2px solid #dddddd;
    border-radius: 5px;
}

.historyTable td, .historyTable th {
    border: 1px solid #dddddd;
    padding: 5px;
}